{% extends 'crypto_functions/base.html' %}

{% block title %}Cryptography{% endblock title %}

{% block body %}
<form action="{% url 'cryptography' %}" method = "POST">
    {% csrf_token %}
    <fieldset>
        <textarea name="input" id="" cols="30" rows="10" placeholder="Enter input string" required></textarea>
    </fieldset>

    <fieldset>
        <input type="text" name="shift" placeholder="Enter shift/key">
    </fieldset>

    <fieldset>
        <select name="function" id="">
            <option value="">--Select Operation--</option>
            <option value="option1">Morse Code</option>
            <option value="option2">Morse to Text</option>
            <option value="option3">camelCase to snake_case</option>
            <option value="option5">Caesar Cipher</option>
            <option value="option6">Vigenere Cipher</option>
            <option value="option7">Base64 Encoding</option>
            <option value="option8">Base64 Decoding</option>
            <option value="option9">Caesar Decipher</option>
            <option value="option10">Vigenere Decipher</option>
            <option value="option11">snake_case to camelCase</option>
        </select>
    </fieldset>

    <button type = "submit" name ="submit">Submit</button>
    <button type="reset" name="reset">Reset</button>
</form>

<fieldset>
    <h2>Output:</h2>
    {{ output }}
</fieldset>
{% endblock body %}